.container1{
    background-image: url(./pexels-luna-lovegood-4087176.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    background-color: rgba(75, 74, 74, 0.429);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

h2{
    color: white;
    margin-bottom: 15px;
}

label {
    color: white;
    display: block;
    margin-bottom: 8px;
    margin-left: 10px;
    text-align: left;
}

input {
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

button{
    width: 250px;
    padding: 10px;
    background-color: rgba(63, 218, 36, 0.875);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(227, 5, 5);
}